td.cell { width: 4em; height: 4em }
div.piece { width: 100%; height: 100% }
img.piece {}
td.white { background-color: #BBBBBB; outline: 3px none white }
td.black { background-color: #664444; outline: 3px none white }
td.selected { outline: 3px solid red }
td.attacked { outline: 3px solid blue }
td.x-coordinate { text-align: center; vertical-align: top; padding-top: 10px }
td.y-coordinate { text-align: right; padding-right: 10px }